<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h1>Edit user</h1>
<form th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}" th:method="PATCH">
    <label for="username">Name: </label>
    <input type="text" th:field="*{username}" id="username">
    <br/>
    <label for="lastName">LastName: </label>
    <input type="text" th:field="*{lastname}" id="LastName">
    <br/>
    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age">
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password">
    <br/>
    <label for="role">Role</label>
    <select name="roles1"  th:type="text" id="role">
        <option th:each="role:${rolesList}" th:value="${role.getName()}"
                th:text="${role.getName()}"></option>
        </option>
    </select>
    <br/>
    <input type="submit" value="Edit">
</form>
</body>
</html>