<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Personal data</title>
</head>
<body>
<p>Your personal data:</p>
<p>Name: <span th:text="${user.getUsername()}"></span></p>
<p>LastName: <span th:text="${user.getLastname()}"></span></p>
<p>Age: <span th:text="${user.getAge()}"></span></p>
<p>Email: <span th:text="${user.getEmail()}"></span></p>
<p>Password: <span th:text="${user.getPassword()}"></span></p>
<p>Role: <span th:each="role : ${user.getRoles()}"
               th:utext="${role.getName()}"> </span></p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Log out"/>
</form>
</body>
</html>
